<div class="modal-box">
    <h3 class="font-bold text-lg">Delete Asset: <b>
            <%= model.ASSET_ID %>
    </h3>
    <form action="/assetDelete/<%= model.ASSET_ID %>" method="post">
        <input type="assetName" name="assetName" disabled id="assetName" class="form-control mb-4"
            value="<%= model.ASSET_NAME %>"">
                    <input type=" zoneName" name="zoneName" disabled id="zoneName" class="form-control mb-4" disabled
            value="<%= model.ASSET_ZONE %>">
        <textarea type="description" name="description" id="description" class="form-control mb-4"
            disabled><%= model.DESCRIPTION %></textarea>

        <h5>WARNING</h5> - Deleting an asset will also delete ALL associated connections.
        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-warning btn-sm">Delete</button></div>
        </div>
    </form>
</div>