<div class="modal-box">
    <p class="font-bold text-lg mb-6">Delete Asset: <b>
            <%= model.ASSET_ID %>
    </p>
    <form action="/assetDelete/<%= model.ASSET_ID %>" method="post">
        <i><span class="label-text text-xs">Asset Name</span></i>
        <input type="assetName" name="assetName" disabled id="assetName" class="input input-accent w-full"
            value="<%= model.ASSET_NAME %>"">
            <i><span class=" label-text text-xs">Asset Zone</span></i>
        <input type=" zoneName" name="zoneName" disabled id="zoneName" class="input input-accent w-full" disabled
            value="<%= model.ASSET_ZONE %>">
        <i><span class="label-text text-xs">Asset Description</span></i>
        <textarea type="description" name="description" id="description" class="input input-accent w-full"
            disabled><%= model.DESCRIPTION %></textarea>
        <p class="text-red-600">WARNING- Deleting an asset will also delete ALL associated connections.</p>
        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-warning btn-sm">Delete</button></div>
        </div>
    </form>
</div>