<div class="modal-box">
    <h3 class="font-bold text-lg">Clone Connection</h3>

    <form action="/connectionClone/" method="post">

        <select class="form-select mb-4" name="sourceApp">
            <option value="<%= model.SOURCE_ASSET_ID %>" selected>
                <%= model.SOURCE_ASSET_NAME %>
            </option>
            <% for (const a of assetModel) { %>
                <option value="<%= a.ASSET_ID %>">
                    <%= a.ASSET_NAME %>
                </option>
                <% } %>
        </select>

        <select class="form-select mb-4" name="destApp">
            <option value="<%= model.DEST_ASSET_ID %>" selected>
                <%= model.DEST_ASSET_NAME %>
            </option>
            <% for (const a of assetModel) { %>
                <option value="<%= a.ASSET_ID %>">
                    <%= a.ASSET_NAME %>
                </option>
                <% } %>
        </select>

        <input type="proto" id="proto" class="form-control mb-4" name="proto" placeholder="Protocol Used"
            value="<%= model.PROTOCOL %>">
        <input type="enc" id="enc" class="form-control mb-4" name="enc" placeholder="Encryption Type"
            value="<%= model.ENCRYPTION %>">
        <input type="serverAuth" id="serverAuth" class="form-control mb-4" name="serverAuth"
            placeholder="Server Authentication" value="<%= model.SERVER_AUTHENTICATION %>">
        <input type="clientAuth" id="clientAuth" class="form-control mb-4" name="clientAuth"
            placeholder="Client Authentication" value="<%= model.CLIENT_AUTHENTICATION %>">
        <input type="clientAuthz" id="clientAuthz" class="form-control mb-4" name="clientAuthz"
            placeholder="Client Authorisation" value="<%= model.CLIENT_AUTHORISATION %>">
        <input type="serverCRL" id="serverCRL" class="form-control mb-4" name="serverCRL" placeholder="Server CRL"
            value="<%= model.SERVER_CRL %>">
        <input type="clientCRL" id="clientCRL" class="form-control mb-4" name="clientCRL" placeholder="Client CRL"
            value="<%= model.CLIENT_CRL %>">
        <input type="desc" id="desc" class="form-control mb-4" name="desc" placeholder="Description"
            value="<%= model.DESCRIPTION %>">

        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Add</button></div>
        </div>
    </form>
</div>
